/* src/App.css */
.App {
  text-align: center;
  padding: 20px;
}

h1 {
  color: #333;
}

.product-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.product-card {
  border: 1px solid #ddd;
  padding: 60px;
  margin: 10px;
  max-width: 200px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.product-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: contain;
  max-height: 150px; /* Adjust this value based on your preference */
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

button:hover {
  background-color: #45a049;
}

/* Adjust the styles for the shopping cart component */
#ShoppingCart {
  position: fixed;
  top: 0;
  right: 0;
  padding: 20px;
  background-color: #fff;
  border-left: 2px solid #333;
  height: 100%;
  overflow-y: auto;
  box-shadow: -5px 0 10px rgba(0, 0, 0, 0.1);
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

/* Add more styles as needed */
